<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Script below is IE HTML shiv, de-facto way to display shit for losers who still use IE. OK, Moved shiv to partial and rendered. -->

		<%= render 'layouts/shim' %>
   
  </head>

  <body>
  	<%= render 'layouts/header' %>

  <div class="container">
		<%= yield %>
		<%= render 'layouts/footer' %>

    <!-- Debug info below to appear only in development. No debug info after deployment.-->
    <%= debug(params) if Rails.env.development? %>
  </div>
    
  </body>
</html>
